.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    background-color: #b4b0ac;
}

.nani2-img{
    height: 620px;
    width: 600px;
    border-radius: 30px;
}
.div1{
    padding: 150px;
}

.div2{
    margin-right: 150px;
}

.heading {
    font-size: 70px;
}
.para1{
    color: #30102c;
    font-size: 20px;
    font-weight: 500;
}