.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    background-color: #b4b0ac;
    overflow-y: hidden;
}

.nani2-img{
    height: 620px;
    width: 600px;
    border-radius: 30px;
}
.div1{
    padding: 150px;
}


.heading {
    font-size: 70px;
}
.para1{
    color: #30102c;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .about-container{
        flex-direction: column;
        
    }
    .nani2-img{
        height: 330px;
        width: 330px;
    }
    .heading {
        font-size: 35px;
    }
    .para1{
        color: #30102c;
        font-size: 15px;
        font-weight: 500;
    }
    .div1{
        padding: 40px;
    }
    .dv2{
        margin-right: 0px;
    }
}

