.contact-container{
    background-color: rgb(18, 13, 13);
    height: 100vh;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.contact-container img {
    height: 650px;
    width: 470px;
    border-radius: 15px;
}

.contact-card{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-card h1{
    font-size: 40px;
}
.contact-card h2{
    font-size: 40px;
    padding-bottom: 10px;
}

.contact-card h3{
    padding-bottom: 15px;
}

.wow{
    display: flex;
    gap: 30px;
}


@media (max-width: 768px){
    .contact-container img {
        height: 430px;
        width: 320px;
        border-radius: 15px;
    }
    .contact-container{
        background-color: rgb(18, 13, 13);
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .contact-card h1{
        font-size: 20px;
    }
    .contact-card h2{
        font-size: 15px;
        padding-bottom: 5px;
    }
    
    .contact-card h3{
        font-size: 15px;
        padding-bottom: 5px;
    }
    
    .wow{
        display: flex;
        gap: 20px;
    }
    
}